# **Data Preprocessing Tools**
## Machine Learning

<img src="https://upload.wikimedia.org/wikipedia/commons/6/68/LOGO_UEU_BY_ASU-06.png" width=50% height=50%>

<table style="width:75%">
  <tr>
    <td><b>Dosen Pengampu</b></td>
    <td>Jefry Sunupurwa Asri , S.Kom., M.Kom.</td>
   </tr>
  <tr>
    <td><b>Mahasiswa</b></td>
    <td>Andika Noor Ismawan</td>
  </tr>
  <tr>
    <td><b>NIM</b></td>
    <td>20210801465</td>
  </tr>
</table>

<hr>

### Importing Libraries

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

<hr>

### Importing the dataset

In [25]:
dataset = pd.read_csv('Employee_Data_Company.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
z = dataset.iloc[[2]].values

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   20 non-null     int64
 1   FirstName    20 non-null     object
 2   LastName     20 non-null     object
 3   Email        19 non-null     object
 4   Department   19 non-null     object
 5   Title        18 non-null     object
 6   Salary       19 non-null     float64
 7   JoiningDate  20 non-null     object
 8   Active       20 non-null     bool
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [27]:
dataset.isnull().sum()

EmployeeID     0
FirstName      0
LastName       0
Email          1
Department     1
Title          2
Salary         1
JoiningDate    0
Active         0
dtype: int64

In [32]:
dataset.isnull().sum().sum()

5

In [29]:
print(z)

[[103 'Michael' 'Johnson' 'michaeljohnson@example.com' 'IT'
  'Software Engineer' 70000.0 '2021-01-10' True]]

In [30]:
print(X)

[[101 'John' 'Doe' 'johndoe@example.com' 'HR' 'HR Manager' 60000.0
  '2020-03-15']
 [102 'Jane' 'Smith' 'janesmith@example.com' 'Finance' 'Accountant' nan
  '2019-07-20']
 [103 'Michael' 'Johnson' 'michaeljohnson@example.com' 'IT'
  'Software Engineer' 70000.0 '2021-01-10']
 [104 'Emily' 'Williams' 'emilywilliams@example.com' 'Marketing'
  'Marketing Manager' 65000.0 '2018-11-05']
 [105 'David' 'Brown' 'davidbrown@example.com' 'Sales'
  'Sales Representative' 55000.0 '2020-09-30']
 [106 'Lisa' 'Miller' 'lisamiller@example.com' 'HR' 'HR Specialist'
  45000.0 '2019-02-12']
 [107 'Robert' 'Anderson' 'robertanderson@example.com' 'Finance'
  'Financial Analyst' 55000.0 '2020-06-25']
 [108 'Susan' 'Clark' 'susanclark@example.com' 'IT' nan 68000.0
  '2019-04-08']
 [109 'Matthew' 'White' 'matthewwhite@example.com' 'Marketing'
  'Marketing Coordinator' 48000.0 '2021-03-20']
 [110 'Laura' 'Taylor' 'laurataylor@example.com' nan 'Sales Manager'
  75000.0 '2018-08-14']
 [111 'James' 'Kennedy' 'jameskennedy@example.com' 'HR' nan 42000.0
  '2022-02-05']
 [112 'Elizabeth' 'Hall' 'elizabethhall@example.com' 'Finance'
  'Senior Accountant' 60000.0 '2017-12-18']
 [113 'William' 'Wilson' 'williamwilson@example.com' 'IT'
  'Software Developer' 72000.0 '2020-11-30']
 [114 'Amy' 'Adams' 'amyadams@example.com' 'Marketing'
  'Marketing Specialist' 52000.0 '2019-09-09']
 [115 'Charles' 'Thomas' nan 'Sales' 'Sales Associate' 48000.0
  '2021-06-28']
 [116 'Mary' 'Turner' 'maryturner@example.com' 'HR' 'Recruiter' 48000.0
  '2022-03-10']
 [117 'George' 'Baker' 'georgebaker@example.com' 'Finance'
  'Junior Accountant' 42000.0 '2018-04-15']
 [118 'Anna' 'Garcia' 'annagarcia@example.com' 'IT'
  'Network Administrator' 69000.0 '2017-10-22']
 [119 'Joseph' 'Evans' 'josephevans@example.com' 'Marketing'
  'Content Writer' 46000.0 '2020-08-03']
 [120 'Sophia' 'Harris' 'sophiaharris@example.com' 'Sales'
  'Sales Coordinator' 50000.0 '2019-01-17']]

In [31]:
print(y)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True]

<hr>

### Taking care of missing data

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [34]:
print(X)

[[101 'John' 'Doe' 'johndoe@example.com' 'HR' 'HR Manager' 60000.0
  '2020-03-15']
 [102 'Jane' 'Smith' 'janesmith@example.com' 'Finance' 'Accountant' nan
  '2019-07-20']
 [103 'Michael' 'Johnson' 'michaeljohnson@example.com' 'IT'
  'Software Engineer' 70000.0 '2021-01-10']
 [104 'Emily' 'Williams' 'emilywilliams@example.com' 'Marketing'
  'Marketing Manager' 65000.0 '2018-11-05']
 [105 'David' 'Brown' 'davidbrown@example.com' 'Sales'
  'Sales Representative' 55000.0 '2020-09-30']
 [106 'Lisa' 'Miller' 'lisamiller@example.com' 'HR' 'HR Specialist'
  45000.0 '2019-02-12']
 [107 'Robert' 'Anderson' 'robertanderson@example.com' 'Finance'
  'Financial Analyst' 55000.0 '2020-06-25']
 [108 'Susan' 'Clark' 'susanclark@example.com' 'IT' nan 68000.0
  '2019-04-08']
 [109 'Matthew' 'White' 'matthewwhite@example.com' 'Marketing'
  'Marketing Coordinator' 48000.0 '2021-03-20']
 [110 'Laura' 'Taylor' 'laurataylor@example.com' nan 'Sales Manager'
  75000.0 '2018-08-14']
 [111 'James' 'Kennedy' 'jameskennedy@example.com' 'HR' nan 42000.0
  '2022-02-05']
 [112 'Elizabeth' 'Hall' 'elizabethhall@example.com' 'Finance'
  'Senior Accountant' 60000.0 '2017-12-18']
 [113 'William' 'Wilson' 'williamwilson@example.com' 'IT'
  'Software Developer' 72000.0 '2020-11-30']
 [114 'Amy' 'Adams' 'amyadams@example.com' 'Marketing'
  'Marketing Specialist' 52000.0 '2019-09-09']
 [115 'Charles' 'Thomas' nan 'Sales' 'Sales Associate' 48000.0
  '2021-06-28']
 [116 'Mary' 'Turner' 'maryturner@example.com' 'HR' 'Recruiter' 48000.0
  '2022-03-10']
 [117 'George' 'Baker' 'georgebaker@example.com' 'Finance'
  'Junior Accountant' 42000.0 '2018-04-15']
 [118 'Anna' 'Garcia' 'annagarcia@example.com' 'IT'
  'Network Administrator' 69000.0 '2017-10-22']
 [119 'Joseph' 'Evans' 'josephevans@example.com' 'Marketing'
  'Content Writer' 46000.0 '2020-08-03']
 [120 'Sophia' 'Harris' 'sophiaharris@example.com' 'Sales'
  'Sales Coordinator' 50000.0 '2019-01-17']]