# **Data Preprocessing Tools**
## Machine Learning

<img src="https://upload.wikimedia.org/wikipedia/commons/6/68/LOGO_UEU_BY_ASU-06.png" width=50% height=50%>

<table style="width:75%">
  <tr>
    <td><b>Dosen Pengampu</b></td>
    <td>Jefry Sunupurwa Asri , S.Kom., M.Kom.</td>
   </tr>
  <tr>
    <td><b>Mahasiswa</b></td>
    <td>Andika Noor Ismawan</td>
  </tr>
  <tr>
    <td><b>NIM</b></td>
    <td>20210801465</td>
  </tr>
</table>

<hr>

### Importing Libraries

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

<hr>

### Importing the dataset

In [5]:
dataset = pd.read_csv('Employee_Data_Company.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
z = dataset.iloc[[2]].values

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         47 non-null     int64
 1    Gender     47 non-null     object
 2    Salary     40 non-null     object
 3    Country    39 non-null     object
 4    Purchased  47 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.0+ KB

In [49]:
dataset.isnull().sum()

EmployeeID     0
FirstName      0
LastName       0
Email          0
Department     0
Title          0
Salary         4
JoiningDate    0
Active         0
dtype: int64

In [50]:
dataset.isnull().sum().sum()

4

In [51]:
print(z)

[[103 'Michael' 'Johnson' 'michaeljohnson@example.com' 'IT'
  'Software Engineer' nan '2021-01-10' True]]

In [52]:
print(X)

[[101 'John' 'Doe' 'johndoe@example.com' 'HR' 'HR Manager' 60000.0
  '2020-03-15']
 [102 'Jane' 'Smith' 'janesmith@example.com' 'Finance' 'Accountant'
  50000.0 '2019-07-20']
 [103 'Michael' 'Johnson' 'michaeljohnson@example.com' 'IT'
  'Software Engineer' nan '2021-01-10']
 [104 'Emily' 'Williams' 'emilywilliams@example.com' 'Marketing'
  'Marketing Manager' 65000.0 '2018-11-05']
 [105 'David' 'Brown' 'davidbrown@example.com' 'Sales'
  'Sales Representative' 55000.0 '2020-09-30']
 [106 'Lisa' 'Miller' 'lisamiller@example.com' 'HR' 'HR Specialist' nan
  '2019-02-12']
 [107 'Robert' 'Anderson' 'robertanderson@example.com' 'Finance'
  'Financial Analyst' 55000.0 '2020-06-25']
 [108 'Susan' 'Clark' 'susanclark@example.com' 'IT'
  'Database Administrator' 68000.0 '2019-04-08']
 [109 'Matthew' 'White' 'matthewwhite@example.com' 'Marketing'
  'Marketing Coordinator' 48000.0 '2021-03-20']
 [110 'Laura' 'Taylor' 'laurataylor@example.com' 'Sales' 'Sales Manager'
  75000.0 '2018-08-14']
 [111 'James' 'Kennedy' 'jameskennedy@example.com' 'HR' 'HR Assistant'
  42000.0 '2022-02-05']
 [112 'Elizabeth' 'Hall' 'elizabethhall@example.com' 'Finance'
  'Senior Accountant' 60000.0 '2017-12-18']
 [113 'William' 'Wilson' 'williamwilson@example.com' 'IT'
  'Software Developer' 72000.0 '2020-11-30']
 [114 'Amy' 'Adams' 'amyadams@example.com' 'Marketing'
  'Marketing Specialist' 52000.0 '2019-09-09']
 [115 'Charles' 'Thomas' 'charlesthomas@example.com' 'Sales'
  'Sales Associate' 48000.0 '2021-06-28']
 [116 'Mary' 'Turner' 'maryturner@example.com' 'HR' 'Recruiter' 48000.0
  '2022-03-10']
 [117 'George' 'Baker' 'georgebaker@example.com' 'Finance'
  'Junior Accountant' 42000.0 '2018-04-15']
 [118 'Anna' 'Garcia' 'annagarcia@example.com' 'IT'
  'Network Administrator' nan '2017-10-22']
 [119 'Joseph' 'Evans' 'josephevans@example.com' 'Marketing'
  'Content Writer' 46000.0 '2020-08-03']
 [120 'Sophia' 'Harris' 'sophiaharris@example.com' 'Sales'
  'Sales Coordinator' nan '2019-01-17']]

In [ ]:
print(y)

<hr>

### Taking care of missing data

In [53]:
print(y)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True]

In [ ]:
print(X)

<hr>

## Encoding categorical data

<hr>

### Encoding the Independent Variable

In [1]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 2:3])
X[:, 2:3] = imputer.transform(X[:, 2:3])

NameError: name 'np' is not defined