In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.impute import SimpleImputer

In [75]:
dataset = pd.read_csv('../Pertemuan3/Employee_Data_Company.csv')

In [76]:
print(dataset)

    EmployeeID  FirstName  LastName                       Email Department  \
0          101       John       Doe         johndoe@example.com         HR
1          102       Jane     Smith       janesmith@example.com    Finance
2          103    Michael   Johnson  michaeljohnson@example.com         IT
3          104      Emily  Williams   emilywilliams@example.com  Marketing
4          105      David     Brown      davidbrown@example.com      Sales
5          106       Lisa    Miller      lisamiller@example.com         HR
6          107     Robert  Anderson  robertanderson@example.com    Finance
7          108      Susan     Clark      susanclark@example.com         IT
8          109    Matthew     White    matthewwhite@example.com  Marketing
9          110      Laura    Taylor     laurataylor@example.com      Sales
10         111      James   Kennedy    jameskennedy@example.com         HR
11         112  Elizabeth      Hall   elizabethhall@example.com    Finance
12         113    William    Wilson   williamwilson@example.com         IT
13         114        Amy     Adams        amyadams@example.com  Marketing
14         115    Charles    Thomas   charlesthomas@example.com      Sales
15         116       Mary    Turner      maryturner@example.com         HR
16         117     George     Baker     georgebaker@example.com    Finance
17         118       Anna    Garcia      annagarcia@example.com         IT
18         119     Joseph     Evans     josephevans@example.com  Marketing
19         120     Sophia    Harris    sophiaharris@example.com      Sales

                     Title   Salary JoiningDate  Active
0               HR Manager  60000.0  2020-03-15    True
1               Accountant  50000.0  2019-07-20    True
2        Software Engineer      NaN  2021-01-10    True
3        Marketing Manager  65000.0  2018-11-05    True
4     Sales Representative  55000.0  2020-09-30    True
5            HR Specialist      NaN  2019-02-12    True
6        Financial Analyst  55000.0  2020-06-25    True
7   Database Administrator  68000.0  2019-04-08    True
8    Marketing Coordinator  48000.0  2021-03-20    True
9            Sales Manager  75000.0  2018-08-14    True
10            HR Assistant  42000.0  2022-02-05    True
11       Senior Accountant  60000.0  2017-12-18    True
12      Software Developer  72000.0  2020-11-30    True
13    Marketing Specialist  52000.0  2019-09-09    True
14         Sales Associate  48000.0  2021-06-28    True
15               Recruiter  48000.0  2022-03-10    True
16       Junior Accountant  42000.0  2018-04-15    True
17   Network Administrator      NaN  2017-10-22    True
18          Content Writer  46000.0  2020-08-03    True
19       Sales Coordinator      NaN  2019-01-17    True

In [77]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   20 non-null     int64
 1   FirstName    20 non-null     object
 2   LastName     20 non-null     object
 3   Email        20 non-null     object
 4   Department   20 non-null     object
 5   Title        20 non-null     object
 6   Salary       16 non-null     float64
 7   JoiningDate  20 non-null     object
 8   Active       20 non-null     bool
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 1.4+ KB

In [78]:
missing_values = dataset.isnull().sum()
print(missing_values)

EmployeeID     0
FirstName      0
LastName       0
Email          0
Department     0
Title          0
Salary         4
JoiningDate    0
Active         0
dtype: int64

In [79]:
column_salary = dataset['Salary']
column_department = dataset['Department']
print(column_salary)
print(column_department)

0     60000.0
1     50000.0
2         NaN
3     65000.0
4     55000.0
5         NaN
6     55000.0
7     68000.0
8     48000.0
9     75000.0
10    42000.0
11    60000.0
12    72000.0
13    52000.0
14    48000.0
15    48000.0
16    42000.0
17        NaN
18    46000.0
19        NaN
Name: Salary, dtype: float64
0            HR
1       Finance
2            IT
3     Marketing
4         Sales
5            HR
6       Finance
7            IT
8     Marketing
9         Sales
10           HR
11      Finance
12           IT
13    Marketing
14        Sales
15           HR
16      Finance
17           IT
18    Marketing
19        Sales
Name: Department, dtype: object

In [80]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X[:, 6:7] = imputer.fit_transform(X[:, 6:7])

In [81]:
print(X[:, 6:7])

[[60000.0]
 [50000.0]
 [55375.0]
 [65000.0]
 [55000.0]
 [55375.0]
 [55000.0]
 [68000.0]
 [48000.0]
 [75000.0]
 [42000.0]
 [60000.0]
 [72000.0]
 [52000.0]
 [48000.0]
 [48000.0]
 [42000.0]
 [55375.0]
 [46000.0]
 [55375.0]]

In [82]:
imputed_dataset = pd.DataFrame(X, columns=dataset.columns)

salary_department_table = imputed_dataset[['Salary', 'Department']]
print(salary_department_table)

ValueError: Shape of passed values is (20, 8), indices imply (20, 9)